<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCffT43DJ05JPNMobN2YHTB22oysmfz9wg</string>
	<key>GCM_SENDER_ID</key>
	<string>109927738124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pairMe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>video-call-ea4a5</string>
	<key>STORAGE_BUCKET</key>
	<string>video-call-ea4a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109927738124:ios:e838aecf18e7d11388b729</string>
</dict>
</plist>